pre.card.card-block.carla-footer
    .row
        .col-xs-4 User: {{ vm.user.userId }}
        .col-xs-4.text-xs-center
            | FastTrack CARLA
        .col-xs-4
            span.float-xs-right Version {{ vm.config.version }}
