pre.card.card-block.carla-footer
    .row
        .col-6.col-sm-4 User: {{ vm.user.userId }}
        .col-sm-4.text-xs-center.hidden-xs-down
            | MyApp brought to you with ❤️
        .col-6.col-sm-4
            span.float-right 
                span.hidden-sm-down Version 
                | {{ vm.config.version }}
